.NavBar{
    font-family: Arial;
    min-height: 70px;
    display: flex;
    align-items: center; /* align horizontal */
    justify-content: flex-end; /* align right */

}

.NavBar a{
    border: 1px solid;
    border-color: lightgray;
    font-size: 17px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
}

.NavBar a:hover{
    background-color: rgb(243, 243, 243);
}

.container-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-heading h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    margin-top: 20vh;
    margin-bottom: 20px;
}

.container-search{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-search input[type="text"]{
    border-radius: 50px;
    width: 700px;
    height: 50px;
    max-width: 80vw; 
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    border: 1px solid;
    border-color: lightgray;
    text-overflow: ellipsis;
}

.container-search input[type="text"]:hover{
background-color:rgb(243, 243, 243);
}

.container-search input[type="submit"]{
    border: 2px solid;
    border-radius: 16px;
    border-color: lightgray;
    margin-top: 25px;
    min-width: 150px;
    min-height: 40px;
    background-color: white;
    font-size: 18px;
}

.container-search input[type="submit"]:hover{
    cursor: pointer;
    background-color: rgb(243, 243, 243);
}